@charset "UTF-8"; /* 인코딩 문자 깨짐 방지*/

html{
    /* 사용자 설정 문자 크기 그대로 반영 될 수 있도록 */
    font: size 100%;
}
body{
    color: #432;
    line-height: 2.0;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* header----------------------------- */

/* 로고 크기 및 여백*/
.logo{
    width:210px;
    margin-top:14px;
}

/* nav 메뉴 정식 */
.main-nav {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-top: 34px;
}
.main-nav li{
    margin-left : 36px;
}
.main-nav a{
    color: #432;
}

.main-nav a:hover {
    color : #0bd;
}
/* 로고와 내비의 수평 정렬 */
.page-header{
    display: flex;
    justify-content: space-between;
}

/*콘텐츠의 최대 출력 너비 설정*/
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%; 
}

/* home -----------------------------------------------------*/
.home-content {
    text-align:center;
    margin-top: 10%;
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
.page-title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: normal;
}
/* 메뉴보기 버튼*/
.button {
    background: #0bd;
    padding: 15px 32px;
    border-radius: 5px;
    color: white;
    font-size: 1.375rem;
}

/* 큰 배경 이미지 */
#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


/* news======================================================== */

#news {
    background-color: skyblue;
    height: 270px;
    margin-bottom: 40px;
}

#news .page-title{
    text-align: center;
}
/* footer ---------------------------*/
footer {
    background-color: #432;
    text-align: center;
    padding: 26px 0;

}

footer p {
    color: white;
}

/* news content ----------------------------------------*/

/* 기사 부분 */
article {
   /* width : 74%;*/
   /* 2-column에서 3-column 으로 변경 시 width 조정*/
   width : 55%;
   order: 2;
}

/* 사이드바*/
aside {
    width: 22%;
    order: 3;
}
/* 광고 배너*/
.ad{
    /*컬럼 순서 변경 - display : flex가 적용 된 자식 요소애서 동작*/
    order: 1;
}

/* 뉴스컨텐츠 수평 정렬 및 여백*/
.news-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
/* 기사 날짜 장식 */
.post-info {
    position: relative;
    padding-top: 4px;
    padding-bottom: 40px;
}

.post-date {
    background-color: #0bd;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 1.625rem;
    text-align: center;
/*post-info 기준 절대 위치*/
    position: absolute;
    top: 0;
    padding-top: 10px;

}

.post-date span {
    font-size: 1rem;
    border-top : 1px rgba(255,255, 255, 0.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.post-title {
    font-family: "나눔명조";
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-title {
    margin-left: 120;
}
article img{
    margin-bottom: 20px ;
}
article p {
    margin-bottom: 1rem;

}
/* side bar ------------------------------------*/

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-title{
    list-style: none;
    margin-bottom: 60px;

}
.sub-menu li {
    border-bottom: 1px #ddd solid;
}
.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #0bd;

}

aside p {
    padding:  12px 10px;
}

/* for mobile -------------------------------------------------*/
/* 변경 기준이 되는 화면 크기를 브레이크 포인트라고 하며 디바이스 별로 width는 다르다.
450~760 정도가 기준으로 중간 정도인 600을 브레이크 포안트로 설정한다. */ 
@media ( max-width:600px) {
    /* 제목 문자 크기 축소*/
    .page-title {
        font-size: 2.5rem;
    }

    /* header */
    /* 내비 글자 크기 및 여백 축소*/
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li{
        margin: 0 20px;

    }
    /*로고와 내비 수직 정렬 */
    .page-header {
    flex-direction: column;
    align-items: center;
    }

    /* 뉴스 컨텐츠 수직 정렬 */
    .news-content{
        flex-direction: column;
    }
    /* 원래 컬럼을 나누아서 차지하던 너비를 100% 차지하게 변경*/
    article,
    aside {
        width: 100%;
    }
    /* 문자 크기 및 여백 조절 */
    #news .page-titleP{
        margin-top: 30px;
    }
    aside {
        margin-top: 60px;
    }
    .post-info{
        margin-bottom: 60px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }

    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;


    }
    .post-title{
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }
}

/* menu -----------------------------------------------------------*/
#menu{
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
}

.menu-content {
    max-width: 560px;
    margin-top: 10%;
}
.menu-content .page-title {
    text-align: center;
}
.menu-content p {
    font-size: 1.125rem;
    font-weight: bolder;
    margin: 10px 0 0;
}

/* grid -----------------------------------------------------*/
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    /* 창의 너비가 작아졌ㅇㄹ 댸 이미지가 너무 작아져서 너무 작아지지 않도록 최소 값 지정*/
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    /* 창의 너비가 작아지면 2,3번쨰 요소가 잘려 보이므로 3열로 한정하지 않고
    화면의 너비에 맞게 요소의 수를 조정 */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}
.item p {
    font-weight: bold;
    text-align: center;
}

/* 강조 하고 싶은 item의 크기 변경 */
.big-box {
    grid-row: 1/3;
    grid-column: 1/3;
}

/* big-box와 다른 작은 이미지간의 높이 맞춤 */
.big-box {
    height: 94%;
    /* 이미지 비율 맞춤 (포함) */
    object-fit: cover;
}
/* 타일형 레이아웃 변경으로 인해 폭이 좁아지면 메뉴끼리 크기가 맞지 않으므로 
폭이 좁아질 겨웅 1-column으로 변경하는 미디어 쿼리*/
@media (max-width : 600px){
    /* big-box가 2행, 2열을 차지하는 설정을 리셋*/
    .big-box{
        grid-row :auto;
        grid-column: auto;
    }
}














