@charset "UTF-8"; /* 인코딩 문자 깨짐 방지 */
    *{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
a{
    text-decoration: none;
    color:inherit;
}
ul li{
    list-style: none;
    
}

.header{
    width: 1140px;
    height: 90px;
    margin: 0 auto;
}
.header .nav{
    float: left;
    
}
.header .nav li{
    float:left;
    margin-left: 30px;
    line-height: 90px;
    font-size: 30px;
    
    
    
}
.header .nav a:hover{
    color: blue;
}

.section01{
    height: 900px;
    background: url(../image/retina_1708x683_cover-developing-mobile-applications-with-apache-cordova-1c9907eb6e1ea0917f4351b35d0db906.png) no-repeat center top;
    background-size: cover;
}
.section01 h2{
    display: block;
    padding: 95px 0 15px;
    color: #fff;
    text-align: center;
    font-size: 3em;
    text-shadow: 3px 5px 5px gray;
}
.section01 p{
    color: #fff;
    text-align: center;
    padding-bottom: 75px;
}

.section01 .block{
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.section01 .block .quick{
    float: left;
    width: 270px;
    height: 200px;
    background-color: #aee5f0;
    margin-right: 20px;
    border-radius: 20px;
    text-align: left;
    box-sizing:border-box;
}
.section01 .block .last{
    margin-right: 0px;
}


.section01 .quick a{
    margin: 55px 30px 30px 30px;
    font-size: 28px;
    background: no-repeat right;
}



.section01 .quick h3{
    margin: 55px 30px 30px 30px;
    font-size: 28px;
    background: no-repeat right;
    color: #12292d;
    text-shadow: 3px 5px 6px gray;
    font-family:"나눔고딕",sans-serif ;
}
.section01 .quick p {
    margin: 0 30px;
    font-size: 18px;
    color: #333;
    text-align: left;
    letter-spacing: -2px;
}

.section03{
    height: 800px;
    
   
}
.section03 h2{
    display: block;
    padding: 95px 0 15px;
    color: black;
    text-align: left;
    font-size: 3em;
    text-shadow: 3px 5px 5px gray;
}

.section03 ul{
    color: black;
    text-align: left;
    padding-bottom: 75px;
}
.section03 .block{
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}

.section02{
    width: 1140px;
    margin: 0 auto;
}
.section02 div{
    width: 480px;
    padding: 8px 0;
    padding-left: 100px;
    box-sizing: border-box;
    float: right;
}
.section02 h3{
    font-size: 28px;
    padding-bottom: 15px;
    
}
.section02 .intro1{
    margin-left: 180px;
    background: url(../image/icons8-인기있는-남자-96.png) no-repeat right;
}

.section02 .intro2{
    margin-left: 180px;
    background: url(../image/icons8-final-fantasy-xiv-96.png) no-repeat right;
}

.section03 li{
    font-size: 40px;
}
.section03 .block2{
    background-color: #fff;
}




